@charset "utf-8";

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');

@font-face {
    font-family: android;
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    border:0px;
}

:root{
    --cor0:#7bbe98;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#061d1e;

    --fonte-padrão: Arial,Verdana,Helvetica,sans-serif;
    --fonte-destaque:'Bebas Neue', 'Cursive';
    --fonte-android: 'android', 'cursive';
}
body{
    background-color:var(--cor1);
    font-family: var(--fonte-padrão);

}


header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;

}


header h1{
    font-family: var(--fonte-destaque);
    color: white;
    padding-bottom: 20px;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;

}

header  p{
    color: white;
    font-size: 1em;
    text-shadow: 1px 1px 1px black;
    padding: 4px;
}


nav{
    border: 5px solid rgba(125, 205, 4, 0);
    padding: 7px;
    background-color:var(--cor4);
    box-shadow: 2px 2px 2px black;
}

nav > a{
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    color: white;
    font-family: var(--fonte-destaque);
    border-radius: 5px;
    font-weight:bold ;
    text-shadow: 1px black;
}

nav > a:hover{
    background-color: var(--cor2);
    text-decoration:var(--cor4);
    color:var(--cor4);
    transition-duration: 0.2s;
}

main{
    margin: auto;
    background-color: white;
    padding: 10px;
    border: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.563);
    font-family:var(--fonte-padrão);
    min-width: 280px;
    max-width: 800px;
}


article strong{
    background-color: var(--cor1);
    color: var(--cor4);
}

article strong:hover{
    color: var(--cor5);
    text-decoration: underline;
}

img{
    width: 100%;
  }

article > img.pequena{
   max-width: 300px;
    display: block;
    margin: auto;

}

article > h1{
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1),transparent);
    color: var(--cor4);
}

article > h2{
    font-family: var(--fonte-android);
    font-size: 1.3em;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

article > p{

    font-family: var(--fonte-destaque);
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 10px;
}

div.video{
    background-color: var(--cor4);
    margin: 0px -10px 30px -10px ;
    padding: 20px;
    padding-bottom: 55%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 15px;
}


aside{
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.448);
}

aside h3{
    font-family: var(--fonte-destaque);
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside p{
    text-indent: 10px;
    text-align: justify;
    padding-top: 4px;
    
}

aside ul{
    list-style-type: '\2705';
    padding: 20px;
    columns: 2; /*divide as colunas*/
    

}

footer{
    background-color:var(--cor5);
    color: white;
    padding:1px;
    margin:10px;


}

footer > p{
    text-align: center;
    border: 1px;
    padding: 5px;
}